<h2>Droppable</h2>

    <style>
    #draggable {
        width: 100px;
        height: 100px;
        background: #ccc;
    }
    #droppable {
        position: absolute;
        left: 250px;
        top: 0;
        width: 125px;
        height: 125px;
        background: #999;
        color: #fff;
        padding: 10px;
    }
    </style>

<div id="droppable">Drop here</div>
<div id="draggable">Drag me</div>

@Html.Juice().Draggable("#draggable")
@Html.Juice().Droppable("#droppable")

<script>
$(function(){
$( "#droppable" ).droppable("option", "drop", function() {
        alert( "dropped" );
    }
);
});
</script>