<h2>Menu</h2>

@{
	
	Html.Juice().Menu("menu").Content(
		@<text>
			<li><a href="#">Item 1</a></li>
			<li><a href="#">Item 2</a></li>
			<li><a href="#">Item 3</a>
				<ul>
					<li><a href="#">Item 3-1</a></li>
					<li><a href="#">Item 3-2</a></li>
					<li><a href="#">Item 3-3</a></li>
					<li><a href="#">Item 3-4</a></li>
					<li><a href="#">Item 3-5</a></li>
        </ul>
			</li>
		</text>
	)
	.Render();
}