<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0.3"/>
    <pages>
      <controls>
        <add assembly="JuiceUI" namespace="Juice" tagPrefix="juice"/>
        <add assembly="JuiceUI" namespace="Juice.Mobile" tagPrefix="mobile"/>
      </controls>
    </pages>
  </system.web>
</configuration>