@using Juice.Mvc;

<div style="height: 400px">
	<div id="_Wrapper" style="height:30px;" class="ui-widget-default">
		@Html.Juice().Progressbar("test", value: 40).Content(
				@<text>
				@if(true){
					
				}		
				</text>
			)

		@{
			Html.Juice().Progressbar("test", value: 40).Content(
			@<text>
			@if(true) {

			}		
			</text>
			).Render();
		}
		
		@*<juice:progressbar ID="_Resizable" runat="server" Value="37" style="height: 100%;" />*@
	</div>
	@*<juice:resizable TargetControlID="_Wrapper" runat="server" />
	<asp:button ID="_Button" runat="server" Text="Postback"/>*@
</div>
